.bi {
    padding: 5px;
}

.peacock {
    background-color: black;
    color: white;
}

.now {
    background-color: teal;
    color: white;
}

.skyx {
    background-color: purple;
    color: white;
}

.showmax {
    background-color: red;
    color: white;
}

.love {
    color: red;
}